.apply{
    display: flex;
    background-color: white;
}

.aply-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.aply-content h2{
    margin-left: 50px;
    margin-right: 50px;
}

.aply-content label{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.aply-content input{
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    border-color: coral;
    border-radius: 10px;
}

.aply-content input:focus{
    border-color: coral;
}

.aply-content img{
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    border-color: coral;
    border-radius: 10px;
    height: 200px;
    width: 500px;
}

.aply-content a{
    font-size: 18px;
    font-weight: 350;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border-color: coral;
    border-style: solid;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    width:auto;
}
