.options{
    display: flex;
    background-color: white;
}

.opt-content {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 50px;
}

.options a{
    font-size: 18px;
    font-weight: 350;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border-color: coral;
    border-style: solid;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    width:auto;
    text-decoration: none;
    color: black;
    float: right;
}
