@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}
.status{
    display: flex;
    background-color: white;
}

.st-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.st-content h2{
    font-size: 18px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    border-radius: 10px;
}

.st-content p{
    font-size: 15px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    border-radius: 10px;
}

.status .content a{
    font-size: 18px;
    font-weight: 350;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border-color: coral;
    border-style: solid;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    width:auto;
    text-decoration: none;
    color: black;
    float: right;
    
}

.status .content a:hover{
    color: #fff;
}
.stepsDiv{
    width: 600px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 45px;
}

.idaddbar{
    display: flex;
    height: 200px;
}

.nicBut{
    height: 50px !important;
    width: 200px;
}
.inputid{
    width: 200px !important;
    height: 50px !important;
}